.tictactoelogo {
  animation: mymove 2.5s;
  animation-timing-function: ease-out;
  display: block;
  margin: auto auto;
}

@keyframes mymove {
  0% {
    transform: rotate(0deg);
    height: 0px;
    width: 0px;
  }
  70% {
    transform: rotate(1100deg);
    height: 140px;
    width: 140px;
  }
  100% {
    transform: rotate(1080deg);
    height: 150px;
    width: 150px;
  }
}

.logoContainer {
  min-width: 150px;
  min-height: 150px;
  display: flex;
}
